@model SignalR_WebUI.Dtos.ContactDtos.CreateContactDto
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}
@* 
<h1>CreateContact</h1> *@

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Contact Transactions</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Add Contact</div>
                        </div>


                        <div class="card-body">
                            <div class="form-group">
                                <label for="footerLocation">Footer Location :</label>
                                <input type="text" class="form-control" id="footerLocation" asp-for="FooterLocation" placeholder="Enter Footer Location">
                            </div>
                            <div class="form-group">
                                <label for="footerPhone">Footer Phone :</label>
                                <input type="text" class="form-control" id="footerPhone" asp-for="FooterPhone" placeholder="Enter Footer Phone">
                            </div>
                            <div class="form-group">
                                <label for="footertEmail">Footer Email:</label>
                                <input type="email" class="form-control" id="footertEmail" asp-for="FootertEmail" placeholder="Enter Footer Email">
                            </div>
                            <div class="form-group">
                                <label for="footerDescription">Footer Description:</label>
                                <input type="text" class="form-control" id="footerDescription" asp-for="FooterDescription" placeholder="Enter Footer Description">
                            </div>


                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Add Contact</button>

                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>