@model SignalR_WebUI.Dtos.TestimonialDtos.UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

@* <h1>UpdateTestimonial</h1> *@


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Testimonial Transactions</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Edit Testimonial</div>
                        </div>


                        <div class="card-body">
                            <input type="hidden" asp-for="TestimonialID" />
                            <div class="form-group">
                                <label for="testimonialName">Testimonial Name :</label>
                                <input type="text" class="form-control" id="testimonialName" asp-for="TestimonialName" placeholder="Enter Testimonial Name">
                            </div>
                            <div class="form-group">
                                <label for="testimonialTitle">Testimonial Title :</label>
                                <input type="text" class="form-control" id="testimonialTitle" asp-for="TestimonialTitle" placeholder="Enter Testimonial Title">
                            </div>
                            <div class="form-group">
                                <label for="testimonialComment">Testimonial Comment :</label>
                                <input type="text" class="form-control" id="testimonialComment" asp-for="TestimonialComment" placeholder="Enter Testimonial Comment">
                            </div>
                            <div class="form-group">
                                <label for="testimonialImageUrl">Testimonial ImageUrl :</label>
                                <input type="text" class="form-control" id="testimonialImageUrl" asp-for="TestimonialImageUrl" placeholder="Enter Testimonial ImageUrl">
                            </div>
                            <div class="form-group">
                                <label for="testimonialStatus">Testimonial Status :</label>
                                <input type="text" class="form-control" id="testimonialStatus" asp-for="TestimonialStatus" placeholder="Enter Testimonial Status">
                            </div>



                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Edit Testimonial</button>

                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
