@model SignalR_WebUI.Dtos.SocialMediaDtos.UpdateSocialMediaDto
@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

@* <h1>UpdateSocialMedia</h1> *@


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">SocialMedia Transactions</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Edit SocialMedia</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="SocialMediaID" />
                            <div class="form-group">
                                <label for="socialMediaTitle">SocialMedia Title :</label>
                                <input type="text" class="form-control" id="socialMediaTitle" asp-for="SocialMediaTitle" placeholder="Enter socialMedia Title">
                            </div>
                            <div class="form-group">
                                <label for="socialMediaIcon">SocialMedia Icon :</label>
                                <input type="text" class="form-control" id="socialMediaIcon" asp-for="SocialMediaIcon" placeholder="Enter socialMedia Icon">
                            </div>
                            <div class="form-group">
                                <label for="socialMediaUrl">SocialMedia Url :</label>
                                <input type="text" class="form-control" id="socialMediaUrl" asp-for="SocialMediaUrl" placeholder="Enter socialMedia Url">
                            </div>

                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Edit SocialMedia</button>

                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>