@model List<SignalR_WebUI.Dtos.AboutDtos.ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

@* <h1>AboutIndex</h1> *@

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">About Transactions</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">About List</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can make About transactions from the table below
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">About Image</th>
                                    <th scope="col">About Title</th>
                                    <th scope="col">About Description</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.AboutID</td>
                                        <td>@item.AboutImageUrl</td>
                                        <td>@item.AboutTitle</td>
                                        <td>@item.AboutDescription</td>
                                        <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-danger">Delete</a></td>
                                        <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-primary">Edit</a></td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                        <td><a href="/About/CreateAbout/" class="btn btn-success">Add New About</a></td>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
